<div class="container-fluid" *ngIf="receipt">
  <p>
      {{receipt.id}}
    <mat-chip-list>
      <mat-chip *ngIf="receipt.deleted">deleted</mat-chip>
    </mat-chip-list>
  </p>
  <p>
      {{receipt.dateTime}}
  </p>
  <p>
      {{receipt.totalSum}}
  </p>
  <p>
      {{receipt.retailPlaceAddress}}
  </p>

  <p>
      {{receipt.userInn}}
  </p>
  <p>
      {{receipt.cashTotalSum}}
  </p>
  <p>
      {{receipt.ecashTotalSum}}
  </p>
  <p>
      {{receipt.user}}
  </p>
  <p>
      {{receipt.operator}}
  </p>
  <p>
      {{receipt.nds10}}
  </p>
  <p>
      {{receipt.nds18}}
  </p>
  <div>
    <p>Purchases:
    </p>
    <ol>
      <li *ngFor="let item of receipt.items">
          {{item.price}}
          {{item.sum}}
          {{item.quantity}}
          {{item.name}}
      </li>
    </ol>
  </div>
</div>
