<div mat-dialog-title>Add new receipts</div>
<mat-dialog-content>
  <form [formGroup]="newReceiptForm" class="fill">
    <mat-form-field class="fill">
      <textarea matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                placeholder="barcode values" formControlName='barCodeText'></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="onSubmit()">
    Submit
  </button>
</mat-dialog-actions>
