<header class="header">
  <div class="brand">
    <a href="#">Receipts collector</a>
  </div>
  <ul>
    <li>
      <a mat-button routerLink="/receipts">Receipts</a>
    </li>
    <li>
      <a mat-button (click)="openNewReceiptDialog()">Add new receipt</a>
    </li>
    <li>
      <a mat-button (click)="openNewBatchReceiptDialog()">Add more receipts</a>
    </li>
    <li>
      <a mat-button outerLink="/markets">Markets</a>
    </li>
    <li>
      <a mat-button routerLink="/markets/add">Add New Market</a>
    </li>
  </ul>
</header>
<section>
  <nav>
    <ul class="menu">
      <li>
        <a mat-button routerLink="/receipts">Receipts</a>
      </li>
      <li>
        <a mat-button (click)="openNewReceiptDialog()">Add new receipt</a>
      </li>
      <li>
        <a mat-button outerLink="/markets">Markets</a>
      </li>
      <li>
        <a mat-button routerLink="/markets/add">Add New Market</a>
      </li>
    </ul>
  </nav>
  <main role="main">
    <router-outlet></router-outlet>
  </main>
</section>



