<mat-card>
  <form [formGroup]="newMarketForm">
    <mat-card-header>Add new market</mat-card-header>
    <mat-form-field>
      <input matInput placeholder="market name" formControlName='marketName'>
    </mat-form-field>
    <mat-card-header>Market Inn</mat-card-header>
    <mat-form-field>
      <input matInput placeholder="INN" formControlName='marketInn'>
    </mat-form-field>
    <mat-card-header>Market Type</mat-card-header>
    <mat-form-field>
      <input type="text" placeholder="Select type" matInput formControlName="marketType" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of marketTypes" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button mat-raised-button (click)="onSubmit()">
      Submit
    </button>
  </form>
</mat-card>

